body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 0.5em;
}

.mobile-hidden {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  color: #707070;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-header img {
  height: 2.8em;
  padding-top: 0.5em;
}

.nav-menu {
  background-color: #2f2e30;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 40vh;
  line-height: 3em;
  z-index: 2;
}

.nav-menu-inner {
  text-align: center;
  background-color: #2f2e30;
  margin: 0;
  padding: 1em;
}

.nav-menu a,
li {
  color: #fff;
}

.nav-menu li:hover {
  background-color: #707070;
}

.bars-menu {
  font-size: 2em;
  color: #000;
}

.bars-menu:hover {
  color: #707070;
}

.hero-inner {
  margin: 2em 0;
  text-align: center;
}

.hero-inner img {
  width: 90%;
}

.hero-copy {
  padding: 0;
  margin: 0;
}

.hero-copy h1 {
  font-size: 2em;
  padding: 0.5em 0 0 0;
  margin: 0;
}

.hero-copy p {
  padding: 0.6em 0 0 0;
  margin: 0;
}

.services {
  background-color: #a4ebff;
}

.services-inner {
  margin: 2em 0;
  padding: 2em 0;
  text-align: center;
}

.services img {
  width: 50%;
  border-radius: 50%;
}

.services-item {
  margin: 0 1em 2em 1em;
  padding: 1em 2em;
}

.services-item p {
  line-height: 1.3;
}

.services-button {
  padding: 1em 0.5em;
  margin: 0 auto;
  width: 10em;
  border-radius: 1000px;
  background-color: #707070;
}

.services-button a {
  color: #fff;
}

.services-button:hover {
  background-color: #8a8383;
  color: #707070;
}

.slider-inner {
  margin: 2em 0 -1.9em 0;
  max-width: 1000px;
}

.footer {
  background-color: #4d4b4f;
  text-align: center;
}

.footer-inner {
  margin: 2em 0 -2em 0;
  padding: 1.5em 0;
}

.footer-copy {
  line-height: 2.5;
  color: #fff;
  padding: 0 2em 0 0;
}

.footer-copy h2 {
  padding: 0;
  margin: 0;
}

.footer-item img {
  width: 90%;
  margin: 2em 0;
}

.derechos a {
  color: #000;
}

.derechos a:hover {
  color: #707070;
}

/* CONTACT PAGE */

.contact-inner {
  padding: 0;
  text-align: center;
}

.contact-item {
  margin: 1em;
  padding: 1em 0.5em;
}

.contact-item i {
  font-size: 5em;
}
